# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Work directory (generated during rendering)
work/

# OS files
.DS_Store
Thumbs.db

# Remotion & Build
node_modules/
out/
props.json
input_video.mp4
input_audio.mp3
*.mp4
*.mp3
